@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../font/ClashDisplay-Variable.woff2") format("woff2"),
    url("../font/ClashDisplay-Variable.woff") format("woff"),
    url("../font/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url(../font/Caveat-VariableFont_wght.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
