.container {
  padding: 0;
  max-width: calc(1440px - (170px * 2));
  margin: 0 auto;
  &__header {
    display: flex;
    align-items: center;
    max-width: calc(1440px - (77.5px * 2));
    justify-content: space-between;
  }
  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    display: flex;
    max-width: calc(1440px - (141px * 2));
    justify-content: center;
    align-items: center;
  }

  &__join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    display: flex;
    align-items: center;
    max-width: calc(1440px - (142.75px * 2));
    justify-content: space-between;
    padding: 24px 0;
  }
}
