@mixin font($fs: 18px, $fw: 500) {
  color: white;
  font-family: $font_clash;
  font-size: $fs;
  font-style: normal;
  font-weight: $fw;
  line-height: normal;
}

@mixin button($p: 14px 38px) {
  @include font(18px, 500);
  background-color: $green;
  color: $black;
  border-radius: 35px;
  border: none;
  padding: $p;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $green_hover;
  }
}

@mixin mobile {
  @media screen and (max-width: 767.9px) and (min-width: 0) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    @content;
  }
}
