@import "../css/clash-display.css";
// Font
$font_clash: "ClashDisplay-Variable";
$font_cavet: "Caveat";

// Colors
$black: #121212;
$dark: #181818;
$green: #a8ff35;
$green_hover: #7dc125;
$text-grey: #dedede;
$stroke-grey: #e6e6e6;
$text-grey2: #7b7b7b;
