.startup {
  padding: 187px 0 161px;
  &__title {
    @include font(64px, 700);
    color: #323232;
    white-space: nowrap;
  }
  .swiper-wrapper{
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__list {
    margin-top: 129px;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 275px !important;
    height: 120px !important;
    border-radius: 8px;
    background-color: #eaeaea;
  }
}
