input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 107px;
  height: 44px;
  background: white;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 30px;
  height: 29px;
  background: #a8ff35;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #a8ff35;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background-color: white;
}
