.tab {
  padding: 77px 0 93.51px 0;
  text-align: center;
  background-color: $green;
  &__title {
    @include font(66px, 700);
    color: $black;
    margin-bottom: 62px;
    @include mobile {
      font-size: 31px;
      margin-bottom: 102px;
    }
    @include tablet {
      font-size: 40px;
      margin-bottom: 102px;
    }
  }
  &__block-box {
    background-color: white;
    padding: 55px 85px;
    border-radius: 16px;
    position: relative;
    @include mobile {
      padding: 17px 34.5px;
    }
    @include tablet {
      padding: 17px 34.5px;
    }
  }
  &__button-box-text {
    @include font(18px, 700);
    color: $black;
    font-family: $font_cavet;
    transform: rotate(14.854deg);

    @include mobile {
      transform: rotate(0);
    }
    @include tablet {
      transform: rotate(0);
    }
    &_left {
      @include mobile {
        transform: rotate(41.85deg) translateX(15px);
      }
      @include tablet {
        transform: rotate(41.85deg) translateX(15px);
      }
    }
  }

  &__pointer-box {
    width: 123px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    & .tab__stroke {
      transform: rotate(-177deg);
      margin-bottom: 10px;
    }
    &_left {
      left: -128px;
      top: 38px;
      @include mobile {
        left: 0;
        top: 120px;
        transform: rotate(-60.45deg);
      }
      @include tablet {
        left: 0;
        top: 120px;
        transform: rotate(-60.45deg);
      }
    }
    &_right {
      right: -128px;
      bottom: 77px;
      @include mobile {
        right: 0;
        bottom: 125px;
        transform: rotate(-14.85deg);
      }
      @include tablet {
        right: 0;
        bottom: 125px;
        transform: rotate(-14.85deg);
      }
      & .tab__stroke {
        transform: rotate(0deg);
      }
    }
  }

  &__stroke {
    width: 70px;
    height: 60px;
    color: $black;
    fill: currentColor;
  }

  &__text {
    @include font(20px, 500);
    color: $black;
    margin-top: 51px;
    @include tablet {
      font-style: 16px;
      margin-top: 95px;
    }
    @include mobile {
      margin-top: 95px;
      font-style: 13px;
    }
  }
}
